/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .inspirations, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(16, 19, 243);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(16, 19, 243);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(16, 19, 243);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(16, 19, 243);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(16, 19, 243);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* Landing page */
.landing-page{
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(
        to right, #5f86f2, #a65ff2,
        #f25fd0, #f25f61, #f88628);
    background-size: 400% 400%;
    animation: animate-background 8s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.landing-page .max-width{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-page .max-width .row{
  margin-right: 0;
}

.landing{
    position:relative;
    text-align: center;
}
.landing-page .landing a{
    display: inline-block;
    background: rgb(16, 19, 243);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(16, 19, 243);
    transition: all 0.3s ease;
}
.landing-page .landing a:hover{
    color: rgb(16, 19, 243);
    background: none;
}

.landing-text{
    font-size: 85px;
    font-weight: 600;
   position: relative;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 19, 243);
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7%;
  }
@media (max-width: 500px){
    .container {
        margin-top: 17%;
        margin-bottom: -16%;
    }
}
  p {
    margin: 0px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    position: relative;
    z-index: 99;
    font-family: 'Ubuntu', sans-serif;
  }
  p#incomplete-label {
    cursor: pointer;
  }
  
  form {
    background-color: white;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgb(16, 19, 243);
    cursor: pointer;
    width: 300px;
    transition: width 0.3s ease-in-out;
    box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.3);
    font-family: 'Ubuntu', sans-serif;
  }
  form.closed {
    width: 150px;
  }
  form.closed input {
    opacity: 0;
    visibility: hidden;
  }
  form.open p {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  form.open input {
    opacity: 1;
    visibility: visible;
  }
  form input[type=email] {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 0px;
    width: calc(100% - 80px);
    color: rgb(16, 19, 243);
    font-weight: 500;
    transition: opacity 0.2s ease-in-out 0.3s, visibility 0.2s ease-in-out 0.3s;
    font-family: 'Ubuntu', sans-serif;
  }
  form input[type=email]:focus {
    outline: 0px;
  }
  form input[type=submit] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0px;
    background-color: rgb(16, 19, 243);
    position: absolute;
    right: 0;
    color: #ffffff;
    top: 5px;
    height: 40px;
    border-radius: 20px;
    right: 5px;
    padding: 10px 15px;
    font-weight: 500;
    transition: opacity 0.1s ease-in-out 0.4s, visibility 0.1s ease-in-out 0.4s, background-color 0.2s ease-in-out;
    cursor: default;
    font-family: 'Ubuntu', sans-serif;
  }
  form input[type=submit]:focus {
    outline: 0px;
  }
  form.valid input[type=submit] {
    color: #fff;
    cursor: pointer;
  }
  form.valid input[type=submit]:hover {
    background-color: rgb(28, 29, 108);
  }
  form.complete {
    width: 150px;
    transition: width 0.3s ease-in-out 0.4s;
  }
  #complete-label{
    opacity: 0;
    }

  form.complete #complete-label {
    visibility: visible;
    opacity: 1;
    top: 0;
    cursor: default;
    z-index: 1;
    transition: opacity 0.2s ease-in-out 0.8s, visibility 0.2s ease-in-out 0.8s;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    font-family: 'Ubuntu', sans-serif;
    display: block;
  }
  form.complete input {
    visibility: hidden;
    opacity: 0;
  }
  form.complete input[type=text] {
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  form.complete input[type=submit] {
    transition: visibility 0.2s ease-in-out 0.1s, opacity 0.2s ease-in-out 0.1s;
  }
  
  h1 {
    color: white;
    margin-top: 0px;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  p.subtitle {
    color: white;
    margin-top: 5px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
  }
  p.subtitle a {
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(16, 19, 243);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}
@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}